<h1 class="font-weight-bold text-primary">DinoTales!</h1>
<p class="text-dark">About the app</p>

    <div class="row">
      <div style="background-color: rgb(22, 195, 22);">
        Welcome to a world where dinosaurs roam free and your
        imagination runs wild! With DinoTales, you can get fun dinosaur
        themed responses to fit your varying needs. We have a page for creating
        dinosaur themed variables, one for telling dinosaur themed stories, and
        another for translating text  into "dino-speak"! Join a community of
        dino-lovers and share your adventures with friends. With our interactive
        pages, you'll have a roaring good time with this app!"
      </div>    
    </div>