
    <h1>CS103a App</h1>
    <p class="text-danger">Welcome to the App</p>

    <div style="margin: 30px 0 0 50px;">
        <a class="btn btn-primary"
            href="/noam">Noam's page</a>

        <a class="btn btn-primary"
            href="/sydney">Sydney's page</a>

        <a class="btn btn-primary"
            href="/jingyi">Jingyi's page</a>
    </div>
  
    
  
