<h1> Dino Convo! </h1>
<p>Enter a prompt you would like to be changed into dino-speak</p>
<form method="post" action="/jingyi">
  Enter keywords:<input type="text" name="prompt"><br>
  <input type="submit">
</form>
<br><br>
<p><%=r%></p>