<h1> Dino Theme! </h1>
<p>Input a variable name you have from your code that you want to be changed into dinosaur themed</p>
<form method="post" action="/noam">
  Enter variable name:<input type="text" name="prompt"><br>
  <input type="submit">
</form>
<br><br>
<p><%=r%></p>