<h1> Dino Story! </h1>
<p>Input keywords to use in a short story about dinosaurs.</p>
<form method="post" action="/noam">
  Enter keywords:<input type="text" name="prompt"><br>
  <input type="submit">
</form>
<br><br>
<p><%=r%></p>