<h1>Team members:</h1>
<br>
<div style="font-size: large; margin-left: 30px;">
    <strong>Noam</strong>
    <ul>
        <li>did this</li>
    </ul>

    <strong>Sydney</strong>
    <ul>
        <li>did this</li>
    </ul>

    <strong>Jingyi</strong>
    <ul>
        <li>did this</li>
    </ul>
</div>