<h1>Team members:</h1>
<br>
<div style="font-size: large; margin-left: 30px;">
    <strong>Noam</strong>
    <ul>
        <li>Lets you input a variable name from code, and it makes it dinosaur themed</li>
        <li>Index page</li>
    </ul>

    <strong>Sydney</strong>
    <ul>
        <li>Creates a short stroy about dinosaurs using input keywords</li>
        <li>About page</li>
    </ul>

    <strong>Jingyi</strong>
    <ul>
        <li>Translates input text into "dino-speak"</li>
        <li>Team page</li>
    </ul>
</div>